<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
  <head>
    <meta name="google-site-verification" content="oIwiD9Fl0-hIEI9k4K3TMObJ-Ph7zA4IlRlkNhkB5Os" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="{% static 'js/app2.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body ng-app="appPost">
    <div ng-controller="PostCtrl">
    <form>
      <div class="form-group">
        <label for="name">name:</label>
        <input type="text" class="form-control" ng-model="name" name="name" id="name">
        <label for="description">description:</label>
        <input type="text" class="form-control" ng-model="description" name="description" id="description">
        <label for="hexadecimal">hexadecimal:</label>
        <input type="text" class="form-control" ng-model="hexadecimal" name="hexadecimal" id="hexadecimal">
        <label for="red">red:</label>
        <input type="text" class="form-control" ng-model="red" name="red" id="red">
        <label for="green">green:</label>
        <input type="text" class="form-control" ng-model="green" name="green" id="green">
        <label for="blue">blue:</label>
        <input type="text" class="form-control" ng-model="blue" name="blue" id="blue">

        <button class="btn btn-default" ng-click="Enviar()">Enviar</button>
        <hr />
        {{ PostDataResponse }}
      </div>
    </form>
    </div>
  </body>
</html>
